body {
    background-image: url("../images/bg-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2vw;
    font-family: 'Changa', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 5px solid white;
    padding: 30px;
    margin: 30px;
}
.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
    text-align: left;
}
.button {
    padding: 6px 0px;
    font-family: 'Changa', sans-serif;
    font-weight: bolder;
    font-size: 3vw;
    width: 400px;
    background-color: rgba(255, 255, 255, 90%);
    border: none;
    transition: 0.3s;
}
.btn-text:hover {
    transform: scaleX(1.20);
    color: rgb(255, 255, 255);
}
.button:hover {
    transform: scaleX(0.80);
    outline: none;
    border-color: white;
    box-shadow: 0 0 60px rgb(47, 0, 255);
    border-radius: 50px;
    cursor: pointer;
}
.scores-btn {
    background-color:rgb(2, 25, 92);
    border: rgb(0, 102, 255) solid 1px;
    transition: 00.3s;
}
.scores-btn:hover, .end-button:hover {
    background-color: rgb(0, 3, 55);
    box-shadow: 0 0 60px rgb(47, 0, 255);
}
.option-button {
    text-align: left;
    color: white;
    font-size: 1.1rem;
    font-family:'Tajawal', sans-serif;
    background-color: rgba(0,0,0, 60%);
    border: none;
    transition: 00.3s;
}
.option-button:hover {
    box-shadow: 0 0 10px rgb(47, 0, 255);
    cursor: pointer;
}
.wrong-choice::after {
    box-shadow: 0 0 10px rgb(255, 0, 0);
}
h1 {
    margin-bottom: 0;
}
p {
    margin-top: 0;
}
h3 {
    font-size: 1.4rem;
    margin: 40px 0;
}
header {
    margin-bottom: 70px;
}
footer {
    margin-top: 70px;
}

/* endQuiz styles */
.end-quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.end-button {
    background-color: rgba(0,0,255, 60%);
    color: white;
    border: rgba(255, 255, 255, 0.9) 1px solid ;
    margin-top: 20px;
    width:23vw;
    height: 5.5vw;
    font-size: 3vw;
    transition: 00.3s;
}

.error {
    color: rgb(187, 0, 0);
    background-color: rgb(0, 0, 0, 80%);
    font-family:'Tajawal', sans-serif;
    font-size: 20px;
    margin-top: -30px;
    padding: 0 10px;
}

/* modal styles */
.modal-title, .modal-body {
    color: rgb(0, 31, 110);
}
.highscore-li-style {
    color: rgb(0, 0, 0);
    font-family:'Tajawal', sans-serif;
    text-align: left;
}