body{
    background-image: url("../images/bg-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2vw;
    font-family: 'Changa', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 5px solid white;
    padding: 30px;
    margin: 30px;
}
.hidden{
    display: none;
    text-align: left;
}

.button{
    padding: 6px 0px;
    font-family: 'Changa', sans-serif;
    font-weight: bolder;
    font-size: 3vw;
    width: 400px;
}

h1{
    margin-bottom: 0;
}
p{
    margin-top: 0;
}

footer{
    margin-top: 500px;
}

/* endQuiz styles */
.end-quiz{
    display: flex;
    justify-content: center;
    align-items: center;
}
